<lasso-page package-path="./browser.json"/>

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Homepage</title>
        <lasso-head/>
    </head>
    <body>
        My home
        <appheader />
        <lasso-body/>
        <init-widgets />
    </body>
</html>
