<div class="replace-main" w-bind>
  <expireditemslist currentExpiredItem="${data.currentExpiredItem.item}" isLast="${data.currentExpiredItem.isLast}" />
  <replaceableitemslist parentItem="${data.parentItem}" />
</div>
